:is(h1, h2, h3, h4, h5, h6) {
    border-bottom: 1px solid black;
}

footer {
    visibility: hidden;
}

.col-md-9 img {
    display: block;
}

figcaption {
    margin-top: -4%;
    text-align: center;
}

.admonition-title {
    border-bottom: 1px dotted black;
}


/* Définition */
.admonition.definition,
.admonition.def { background-color: #eeffee; }

.admonition.definition .admonition-title,
.admonition.def .admonition-title { text-indent: -9999px; line-height: 0; }

.admonition.definition .admonition-title::after,
.admonition.def .admonition-title::after { display: block; text-indent: 0; line-height: initial; content: "\1F4D6\0020 Définition"; }

/* Propriété */
.admonition.propriete,
.admonition.prop { background-color: #eeeeff; }

.admonition.propriete .admonition-title,
.admonition.prop .admonition-title { text-indent: -9999px; line-height: 0; }

.admonition.propriete .admonition-title::after,
.admonition.prop .admonition-title::after { display: block; text-indent: 0; line-height: initial; content: "\1F4AC\0020 Propriété"; }


/* Démonstration */
.admonition.demonstration,
.admonition.demo { background-color: #ffeeee; }

.admonition.demonstration .admonition-title,
.admonition.demo .admonition-title { text-indent: -9999px; line-height: 0; }

.admonition.demonstration .admonition-title::after,
.admonition.demo .admonition-title::after { display: block; text-indent: 0; line-height: initial; content: "\1F50E\0020 Démonstration"; }

/* Exemple */
.admonition.exemple,
.admonition.ex { background-color: #f9f9f9; }

.admonition.exemple .admonition-title,
.admonition.ex .admonition-title { text-indent: -9999px; line-height: 0; }

.admonition.exemple .admonition-title::after,
.admonition.ex .admonition-title::after { display: block; text-indent: 0; line-height: initial; content: "\1F449\0020 Exemple"; }

/* Méthode */
.admonition.methode,
.admonition.meth { background-color: #ffffff; }

.admonition.methode .admonition-title,
.admonition.meth .admonition-title { text-indent: -9999px; line-height: 0; }

.admonition.methode .admonition-title::after,
.admonition.meth .admonition-title::after { display: block; text-indent: 0; line-height: initial; content: "\2699\0020 Méthode"; }


